/* _________________________________________________

Ball State Design - Global Alert

1.ALERTS
2.GLOBAL
3.PERSONCONTACTINFO
4.COURSELISTING
5.COURSEHEADER
6.DL, DT, DD
_____________________________________________________
    
ALERTS
*/
#alerts  
{
    background-color: #ff6600;
    color: #FFFFFF; 
    font-size: 17px; 
    text-align: center; 
    clear: both; 
}
    
/**************************************************
**  GLOBAL     ************************************
**************************************************/
#alerts .alertglobal 
{
    max-width: 940px;
    text-align: left; 
    padding: 10px 0; 
    margin-left: auto; 
    margin-right: auto;
    overflow: auto;
}
    

#alerts .globaltext { margin-top: 10px; }
#alerts .globaltext.first { margin-top: 0; }
      
#alerts .alertglobal .leadIn
{
    color: #FFF; 
    font-weight: bold; 
    padding-right: 5px;
}
    
#alerts .alertimg
{
    width: 60px;
}
#alerts .alertdesc
{

}
#alerts .alertlink
{
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#alerts .alertlink:hover,
#alerts .alertlink:focus
{
    text-decoration:underline;
}
#alerts .alertimgdiv
{
    display: inline-block;
    float: left;
    clear: left;
    margin-right: 1%;
    max-width: 10%;
}
#alerts .alerttext
{
    float: left;
    max-width: 88%;
}

@media screen and (max-width: 767px)
{
    #alerts .alertglobal
    {
        max-width: 100%;
    }
    #alerts .alertimgdiv
    {
        display: block;
        float: none;
        clear: none;
        margin: 0;
        max-width: 100%;
        text-align: center;
    }
    #alerts .alerttext
    {
        float: none;
        margin: 0;
        padding: 10px;
        max-width: 100%;
    }
}
@media screen and (min-width: 768px)
{
    #alerts .alertglobal
    {
        max-width: 730px;
    }
}
@media screen and (min-width: 992px)
{
    #alerts .alertglobal
    {
        max-width: 940px;
    }
}
@media screen and (min-width: 1200px)
{
    #alerts .alertglobal
    {
        max-width: 1170px;
    }
}



/*960px __________________________________________________________________________________________________________ */
/* @media only screen and (max-width: 960px) { */
    body {}
/* } */